<material-content ng-controller="environmentCtrl">
    <div class="container-fluid">
        <div class="col-md-5">
            <h4>
                nb environment : {{environments.length}}
                <div class="confman-btn" style="width: 50%">
                    <button class="btn btn-primary" ng-click="create()">
                        <img src="../img/icon/ic_insert_drive_file_24px.svg" title="New"/>
                    </button>
                </div>
            </h4>
            <material-list>
                <material-item ng-repeat="env in environments | orderBy:'code'" ng-click="update(env)"
                               ng-class="isSelected(env.id, entity.selected)" class="confman-material-item">
                    <div class="material-tile-content">
                        <h2>{{env.code}}</h2>

                        <p>{{env.label}}</p>
                    </div>
                </material-item>
            </material-list>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <form class="form confman-form" name="form" novalidate ng-show="entity.verb">
                <div style="height: 100%">
                    <div class="row">
                        <div class="col-xs-7">
                            <br><h4>{{entity.verb}}</h4>
                        </div>
                        <div class="col-xs-5">
                            <div class="confman-btn">
                                <br/>
                                <button class="btn" ng-class="getClassActionForm(form)" ng-click="save(form)"
                                        ng-disabled="form.$invalid">
                                    <img src="../img/icon/ic_save_24px.svg" title="Save"/>
                                </button>
                                <button class="btn btn-danger" ng-click="delete(entity.content, $event)"
                                        ng-show="entity.content.id">
                                    <img src="../img/icon/ic_delete_24px.svg" title="Delete"/>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger confman-alert-error container-fluid" role="alert" ng-show="error">
                        Error : {{error.message}}
                    </div>
                    <div class="thumbnail">
                        <div class="row" ng-show="entity.content.id">
                            <div class="col-xs-2"><label for="data-id">&nbsp;Id</label></div>
                            <div class="col-xs-10"><input type="text" id="data-id" readonly ng-model="entity.content.id"
                                                          class="form-control input-sm">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-code">&nbsp;Code</label></div>
                            <div class="col-xs-10"><input type="text" id="data-code" required="true"
                                                          ng-model="entity.content.code"
                                                          class="form-control input-sm confman-input.ng-invalid"
                                                          name="code">
                                <span ng-show="form.code.$error.required"
                                      class="confman-label-error">Code is required</span></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-label">&nbsp;Label</label>
                            </div>
                            <div class="col-xs-10"><input type="text" id="data-label" size="50" required
                                                          ng-model="entity.content.label" class="form-control input-sm"
                                                          name="label">
                                <span ng-show="form.label.$error.required"
                                      class="confman-label-error">Label is required</span></div>
                        </div>


                    </div>
                </div>
            </form>

        </div>
    </div>
</material-content>
