body {
  min-height: 100%;
  overflow: auto;
}
.footer-confman {
  width: 100%;
  margin: 0px;
  padding: 5px 100px;
  bottom: 0px;
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  background-color: #ffffff;
}
.confman-menu-title {
  display: inline-table;
  width: 100%;
  position: relative;
}
.confman-material-item{
    width: 100%;
    padding-left: 15px;
}
.confman-menu-title img {
  position: absolute;
  padding: 2px;
  left: 0px;
  background-color: #4285f4;
  border-radius: 32px;
}
.confman-menu-title h2 {
  left: 64px;
  padding: 0px;
  margin: 0px;
  position: absolute;
}
.confman-selected {
  background-color: #eeeeee;
}
.confman-material-item{
  width: 100%;
}
.confman-image {
  text-align: center;
}
.confman-image img {
  max-width: 100%;
}
.confman-btn {
  display: inline-block;
  text-align: right;
  width: 100%;
}
.confman-btn img {
  width: 24px;
  height: 24px;
}
.confman-btn .btn-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #03a9f4;
}
.confman-form label {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  display: inline;
  top: 8px;
  position: absolute;
}
.confman-form .thumbnail {
  padding: 10px;
}
.confman-form input.ng-invalid,
.confman-form select.ng-invalid {
  background-color: #f2dede;
}
.confman-alert-error {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  max-height: 120px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #f2dede;
  border-radius: 6px;
}
.confman-label-error {
  color: #a94442;
}
.material-theme-grey {
  background-color: #eeeeee !important;
  color: #111111 !important;
}
.confman-list-param {
  border-radius: 32px;
  width: 40px;
  height: 40px;
  left: 3px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}
.confman-list-param-app {
  border-radius: 32px;
  width: 40px;
  height: 40px;
  left: 3px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  background-color: #4285f4;
  color: #ffffff;
}
.confman-list-param-instance {
  border-radius: 32px;
  width: 40px;
  height: 40px;
  left: 3px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  background-color: #ffeb3b;
  color: #000000;
}
.confman-list-param-env {
  border-radius: 32px;
  width: 40px;
  height: 40px;
  left: 3px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  background-color: #cccccc;
  color: #000000;
}
.confman-input-param-env {
  color: #000000;
  line-height: 1;
  padding: 3px 12px;
  top: -5px;
  border: 1px solid #bbb;
  position: relative;
  font-weight: bold;
}
.confman-accroche {
  padding: 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 6px;
}
.confman-line-error {
  background-color: #f2dede;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  font-weight: bold;
  cursor: default;
  background-color: #4285f4;
  border: 1px solid #ddd;
}
.badge-instance {
  background-color: #ffeb3b;
  color: black;
}
.badge-version {
  background-color: #4285f4;
}
